{% extends "::layout.html.twig" %}

{% block title "Quest of the Grail" %}

{% block content %}
<div class="titre">
    <h1>Projet Quest of the Grail</h1>
</div>
<div class="texte">
    
    <div class="centrer">
        <img src="{{ asset('bundles/foxportfolio/java-logo.png') }}">
    </div>                       
</div>

<div class="soustitre">Contexte</div>

<div class="texte">
    Le projet <em>« Quest of the Grail »</em> (abrégé QoG) est un <em>« Serious Game »</em>, c'est-à-dire un jeu combiné avec une <em>intention sérieuse</em>, 
    par exemple de type pédagogique, informative, communicationnelle, marketing, etc. D'une manière générale, un « jeu sérieux » est un jeu s'écartant du 
    seul divertissement. « Quest of the Grail » a fait l'objet d'un projet au cours de ma seconde année de BTS SIO.<br/><br/>
    Le scénario du jeu était l'histoire du <em>Roi Arthur</em> et sa quête du Graal, et devait comporter, à la fin du jeu, une <em>publicité</em> pour divers
    sites, événements et festivals médiévaux pour le côté <em>« Serious Game »</em>.
</div>

<div class="soustitre">Réalisation</div>

<div class="texte">
    Le projet <em>« Quest of the Grail »</em> a été effectué en collaboration avec deux camarades, mais n'a pas été abouti, d'autres projets devant être effectués.
    Il a été développé en <em>Java</em>, de manière à être compatible avec les divers systèmes d'exploitation du marché, et également car nous étudiions ce
    langage en cours.<br/><br/>
    Pour développer le jeu, nous nous sommes basés sur deux <em>bibliothèques Java</em> spécialisées dans la conception de jeu : <em>Slick2D et LWJGL</em> 
    (Lightweight Java Game Library). Nous utilisiions également le logiciel Tiled pour créer des cartes exploitables par la librairie <em>Slick2D</em><br/><br/>
    Il a fallu créer des cartes avec <em>plusieurs couches</em>, de manière à ce que le personnage disparaisse lorsqu'il passe derrière un élément du décor, 
    comme un arbre, ou une maison, ou encore pour assigner une valeur à certains blocs constituant la carte, qui seraient interprétés par le jeu comme
    non-franchissables, pour la <em>gestion des collisions</em>.<br/><br/>
</div>
{% endblock %}