{% extends "::layout.html.twig" %}
    
{% block title "Stage n°1" %}
    
{% block content %}
<div class="titre">
    <h1>Stage de 1ère année</h1>
</div>
    <div class="texte">
        
    <div class="centrer">
        <img src="{{ asset('bundles/foxportfolio/veillet.png') }}">
    </div>                       
</div>
{% endblock %}