{% extends "::layout.html.twig" %}
    
{% block title "Stage n°1" %}
    
{% block content %}
<div class="titre">
    <h1>Stage de 1ère année</h1>
</div>
<div class="texte">
    
    <div class="centrer">
        <img src="{{ asset('bundles/foxportfolio/blason-melun.png') }}">
    </div>                       
</div>
    
<div class="texte">
    Mon stage de première année s'est déroulé au sein de la <em>Direction du Service Informatique de l'Hôtel de Ville de Melun</em>, ce dernier a duré 6 semaines.
</div>
    
<div class="soustitre">Déroulement du stage</div>
    
<div class="texte">
    Ce stage a donc duré <em>6 semaines</em>, durant lesquels j'ai pu effectuer diverses missions en 
    collaboration avec les divers pôles du service, que je développerai par la suite.
</div>
    
<div class="soustitre">Ce que m'a apporté le stage</div>
    
<div class="texte">
    Lors de ce stage, j'ai pu acquérir une <em>vision du travail en entreprise</em> plus claire et approfondie, 
    un <em>sens des responsabilités</em> plus aiguisé, ainsi qu'une <em>autonomie</em> accrue.
</div>
    
<div class="titre">
    <h3><em>Missions</em></h3>
</div><br/>
    
<div class="soustitre">Descente d'images</div>
    
<div class="texte">
    Certaines des consignes consistaient à <em>déployer des images disque</em> via un serveur (Microsoft ImageX) avec des programmes 
    bien précis pour les utiliser en remplacement en cas de panne ou de manière définitive en cas de panne irréversible d'un poste informatique.
</div>
    
<div class="soustitre">Utilisation d'un gestionnaire de parc informatique</div>
    
<div class="texte">
    Les demandes de dépannage émanant des autres services se présentaient sous la forme de tickets envoyés sur un <em>système de gestion de parc 
        informatique (GLPI + OCS)</em> sur un site intranet, que nous pouvions consulter afin de les traîter.
</div>
    
<div class="soustitre">Résolution des tickets</div>
    
<div class="texte">
    Nous pouvions, soit nous-même nous attribuer des tickets, soit nous le voir attribuer par un pôle du service.
    Pour résoudre un ticket, nous devions ><em>appeler son créateur</em> pour avoir de plus amples informations et pouvoir intervenir.
</div>
    
<div class="soustitre">Interventions</div>
    
<div class="texte">
    Pour une intervention, il nous était possible de nous déplacer dans les services peu éloignés.
    Pour les services plus distants, nous avions la possibilité de <em>prendre la main sur le poste</em> (via VNC ou TeamViewer), avec 
    l'accord préalable de l'utilisateur, afin de procéder à la résolution du problème.
</div>
    
<div class="soustitre">Installation d'un serveur web</div>
    
<div class="texte">
    Afin d'effectuer des opérations rentrant un minimum dans notre option, nous avons eu la possibilité d'<em>installer un serveur web</em> 
    et d'<em>y installer Joomla</em> afin de créer un nouveau site Intranet pour l'Hôtel de Ville.
    Malheureusement, ce projet n'a pu aboutir, faute de temps.
</div>
{% endblock %}