{% extends "::layout.html.twig" %}
    
{% block title "Stage n°2" %}
    
{% block content %}
<div class="titre">
    <h1>Stage de 2nde année</h1>
</div>
    
<div class="texte">    
    <div class="centrer">
        <img src="{{ asset('bundles/foxportfolio/avec-passion.png') }}">
    </div>                       
</div>
<div class="texte">
    Mon stage de première année s'est déroulé dans le cadre d'<em>un site de e-commerce nommé <u>Avec Passion</u></em>, ce dernier a duré 6 semaines.
</div>
    
<div class="soustitre">Déroulement du stage</div>
    
<div class="texte">
    Durant ce stage de <em>6 semaines</em>, j'ai rempli la mission qui m'a été assignée, et plus encore.
</div>
    
<div class="soustitre">Ce que m'a apporté le stage</div>
    
<div class="texte">
    Pendant ce stage, j'ai acquis une <em>autonomie</em> plus complète et un <em>sens des responsabilités</em> plus poussé.
    J'ai également pu <em>revoir PHP</em>, ainsi qu'<em>approfondir mes connaissances en SQL</em>, et <em>acquérir quelques notions de
        JavaScript</em> avec l'aide d'un prestataire.
</div>
    
<div class="titre">
    <h3><em>Missions</em></h3>
</div><br/>
    
<div class="soustitre">Création de requêtes SQL</div>
    
<div class="texte">
    Lors de ce stage, il m'a été demandé de créer quelques <em>requêtes SQL</em> afin de répondre à certains <em>besoins des co-gérantes</em>, 
    tels que, par exemple, <em>afficher la liste des parrains</em> et de leurs "filleuls", le <em>nombre d'achat</em> par compte pour une certaine durée, 
    ou encore, les <em>habitudes d'achats des clients</em> sur une certaine période. La requête d'affichage des parrains/filleuls m'a d'ailleurs permis 
    d'<em>identifier une faille</em> dans le module de parrainage et de la faire remonter.
</div>
    
<div class="soustitre">Utilisation d'un gestionnaire de parc informatique</div>
    
<div class="texte">
    Les demandes de dépannage émanant des autres services se présentaient sous la forme de tickets envoyés sur un <em>système de gestion de parc 
        informatique (GLPI + OCS)</em> sur un site intranet, que nous pouvions consulter afin de les traîter.
</div>
    
<div class="soustitre">Création d'un interface</div>
    
<div class="texte">
    Afin de faciliter la tâche aux co-gérantes, j'ai pris l'<em>initiative</em> de créer une <em>interface web en PHP</em> permettant l'exécution 
    des requêtes sans avoir à passer par phpMyAdmin, ainsi que de les <em>personnaliser</em> via des renseignements à saisir sur les pages, qui sont 
    récupérés dans des variables grâce à la <em>méthode POST</em>, et intégrés aux requêtes.
</div>
    
<div class="soustitre">Export sous fichier CSV</div>
    
<div class="texte">
    De manière à <em>faciliter le traitement des informations</em> retournées par les requêtes, un <em>export sous fichier CSV</em> a été implémenté, avec un nom 
    pertinent généré pour chaque fichier.
</div>
{% endblock %}