{% extends "::layout.html.twig" %}

{% block title "Mission StifCo" %}

{% block content %}
<div class="titre">
    <h1>Mission StifCo</h1>
</div>
<p>Je suis Julien Renard. Actuellement en seconde année de BTS SIO, Services Informatiques aux Organisations, option SLAM, 
    Solutions Logicielles Application Métier.</p>
{% endblock %}